<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skoky"
    android:versionCode="22"
    android:versionName="1.15">

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
            android:name=".MyApp"
        android:theme="@style/amm">
        <activity
            android:name=".MainActivity"
                android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/amm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

        </activity>

        <service
            android:name=".services.DecoderService"
            android:enabled="true"
            android:exported="true" >
        </service>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

</manifest>